<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog autoReload="true" internalLogLevel="Trace" internalLogFile="logs/internalLog.txt">
    <targets>
      <target name="logfile" type="File" fileName="${basedir}/logs/${shortdate}.log" lineEnding="CRLF" encoding="UTF-8" header="###开始记录日志###"
              layout="${longdate} 日志级别:${level} 异常类:${callsite} ${message} ${event-context:item=exception} ${stacktrace} ${event-context:item=stacktrace}"/>
    </targets>
    <rules>
      <logger name="NLog" minlevel="Debug" maxlevel="Error" writeTo="logfile" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>